body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:496px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2290 {
  position:absolute;
  left:166px;
  top:97px;
  width:199px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2292 {
  position:absolute;
  left:410px;
  top:97px;
  width:26px;
  height:21px;
  font-size:18px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2294 {
  position:absolute;
  left:467px;
  top:98px;
  width:29px;
  height:20px;
  color:#FF0000;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2296_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:52px;
  height:5px;
}
#u2296 {
  position:absolute;
  left:399px;
  top:123px;
  width:49px;
  height:2px;
}
#u2297 {
  position:absolute;
  left:2px;
  top:-7px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
